/* 全局样式 */
html,body,#app{height:100%;padding: 0; margin: 0; min-width: 1390px;}

.el-table{margin-top: 20px; font-size: 16px;}
.el-card{margin-top: 20px;}
.el-cascader-panel{ height: 300px; overflow: hidden;}
    
    
